
/bin/
\bin\
bin/
bin\

.metadata/
.metadata\
/.metadata/
\.metadata\

*.class
/Pong spel V2/nbproject/private/
/Pong spel V2/build/
*.log
*.log
*.index
*.xml
*.class
*.classpath
*.log
*.classpath
*.class
*.mf
*.prefs
*.resources